/* all shared styles here */

.primary-color-with-fontsize{
    line-height: 20px;
    font-size: 60px;
    font-weight:bolder;
}

.primary-color{
    color: rgb(253, 0, 0);
}

.section-title {
    color: black;
    font-size: 40px;
    margin-top: 0;

}

/* header style here */
main,header{
    margin: 80px 250px;
    
}
.banner{
    /* background-image: rgba(0,0,0,0.3)url("../images/Banner\ Image.png");  */
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(4, 4, 4, 0.8)), url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    text-align: center;
    padding: 200px 250px;
    border-radius: 15px;
    margin-bottom: 150px;
}
.title-info-small{
    font-size: 30px;
    font-weight: 400;
}

.title-info{
    font-size: 80px;
    line-height: 20px;
}

/* main section here */

/* discount section here */
.discount{
    text-align: center;
}
.discount-details{

}
.