/* all shared styles here */

.primary-color-with-fontsize{
    line-height: 20px;
    font-size: 60px;
    font-weight:bolder;
}

.primary-color{
    color: rgb(253, 0, 0);
}

.primary-btn{
    background-color: red;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.section-title {
    color: black;
    font-size: 40px;
    margin-top: 0;

}

/* header style here */
main,header{
    margin: 80px 250px;
    
}
.banner{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(4, 4, 4, 0.8)), url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
    padding: 200px 250px;
    border-radius: 15px;
    margin-bottom: 150px;
}
.title-info-small{
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.title-info{
    color: white;
    font-size: 80px;
    line-height: 20px;
}

/* main section here */

/* discount section here */
.discount{
    text-align: center;
    margin-bottom: 100px;
}
.discount-details{

}

/* greeting section */
.greeting{
    background-image:linear-gradient(to left, rgba(255,0,0,0), rgba(4, 4, 4, 0.8)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.greeting-info{
    color: white;
    width: 30%;
    padding: 100px;
}
.greeting-title{
    color: white;
    font-size: 60px;
    margin-bottom: 0;
}
.greeting-description{
    margin-bottom: 50px;
}
.btn-greeting{
    margin-left: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}
/* time and address style */
.time-address{
    background-image:linear-gradient(to top, rgba(255, 1, 1, 0), rgba(217, 160, 160, 0.8)) ;
    border-radius: 20px;
    margin-bottom: 150px;
}
.time-address-info{
    padding: 50px;
    text-align: center;
    font-size: 25px;
}
/* offer section styles */
.offer-details{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.offer-image{
    padding: 10px;
    border: 10px solid red;
    border-radius: 50%;
}
.offer-info{
    width: 33%;
}
.running-year{
    font-size: 40px;
    font-weight: bolder;
}
/* newsletter */
.newsletter{
    background-color: rgb(251, 237, 240);
    border-radius: 20px;
}
.newsletter-details{
    text-align: center;
    padding: 50px 100px;
}
.email-input{

    padding-bottom: 50px;
    text-align: center;
}
.email-input input[type='email']{
    
    border:none;
    background-color: white;
    padding: 10px 20px;
    color: gray;
    font-size: large;
    border-radius: 30px 0px 0px 30px;

}
.email-input input[type='submit']{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: large;
    border-radius: 0px 30px 30px 0px;

}

/* footer */
footer{
    padding: 100px;
    background-color: rgb(5, 5, 42);
}
.address{

}
.address-details{
    display: flex;
    gap: 50px;
    justify-content: space-between;

}
.address-description{
    color: white;
    font-size: larger;

}

.phone-website > p > a {
    display: block;
    text-decoration: none;
    color: white;
    
}

.phone, .website {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* social section */
.social-links{
    padding: 20px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

