/* all shared styles here */

.primary-color-with-fontsize{
    line-height: 20px;
    font-size: 60px;
    font-weight:bolder;
}

.primary-color{
    color: rgb(253, 0, 0);
}

.primary-btn{
    background-color: red;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.section-title {
    color: black;
    font-size: 40px;
    margin-top: 0;

}

/* header style here */
main,header{
    margin: 80px 250px;
    
}
.banner{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(4, 4, 4, 0.8)), url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
    padding: 200px 250px;
    border-radius: 15px;
    margin-bottom: 150px;
}
.title-info-small{
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.title-info{
    color: white;
    font-size: 80px;
    line-height: 20px;
}

/* main section here */

/* discount section here */
.discount{
    text-align: center;
    margin-bottom: 100px;
}
.discount-details{

}

/* greeting section */
.greeting{
    background-image:linear-gradient(to left, rgba(255,0,0,0), rgba(4, 4, 4, 0.8)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.greeting-info{
    color: white;
    width: 30%;
    padding: 100px;
}
.greeting-title{
    color: white;
    font-size: 60px;
    margin-bottom: 0;
}
.greeting-description{
    margin-bottom: 50px;
}
.btn-greeting{
    margin-left: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}
/* time and address style */
.time-address{
    background-image:linear-gradient(to top, rgba(255, 1, 1, 0), rgba(217, 160, 160, 0.8)) ;
    border-radius: 20px;
    margin-bottom: 150px;
}
.time-address-info{
    padding: 50px;
    text-align: center;
    font-size: 25px;
}
